{% extends "base_generic.html" %}

{% block title %}Interaction: {{interaction.company}} {{interaction.project}}{% endblock %}

{% block content %}

          <h1>{{interaction.date_of_edition}}</h1>
          <br>
          <p><strong>Company: </strong>{{interaction.project.customer}}</p>
          <p><strong>Project: </strong>{{interaction.project}}</p>
          <p><strong>Interaction channel: </strong>{{interaction.channel_of_reference}}</p>
          <p><strong>Manager: </strong>{{interaction.manager}}</p>
          <p><strong>Description: </strong></p><p>{{interaction.description}}</p>
          <p><strong>Grade: </strong>{{interaction.grade}}</p>
          <a href="{{ interaction.get_update_url }}">Update interaction</a><br>
          {% if perms.interaction.delete_interaction %}
              <a href="{{ interaction.get_delete_url }}">Delete interaction</a>
          {% endif %}

{% endblock %}