{% extends "base_generic.html" %}

{% block title %}Projects List{% endblock %}

{% block content %}
    <h1>Projects List</h1>

    {% if project_list %}
    <ul>
      {% for project in project_list %}
      <li>
          <a href="{{ project.get_absolute_url }}">{{project.title}}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no projects in the list.</p>
    {% endif %}

    <br>
    <a href="{% url 'project-create' %}">Add new project</a>
    <br>

    {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
    {% endif %}

{% endblock %}