{% extends "base_generic.html" %}

{% block title %}Company: {{customer.company_name}}{% endblock %}

{% block content %}

          <h1>Company: {{customer.company_name}}</h1>
          <p><strong>Foreman: </strong>{{customer.foreman_name}}</p>
          <p><strong>Decsriptions: </strong></p><p>{{customer.descriptions}}</p>
          <p><strong>Date of creation: </strong>{{customer.date_of_creation}}</p>
          <p><strong>Date of edition: </strong>{{customer.date_of_edition}}</p>
          <p><strong>Adress: </strong>{{customer.adress}}</p>
          <p><strong>Phone: </strong>{% for phone in customer.phone.all %} {{ phone }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
          <p><strong>Email: </strong>{% for email in customer.email.all %} {{ email }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

{% endblock %}