{% extends "base_generic.html" %}

{% block title %}Company: {{customer.company_name}}{% endblock %}

{% block content %}

          <a href="{{ customer.get_update_url }}"><h1>{{customer.company_name}}</h1></a>
          <br>
          <p><strong>Foreman: </strong>{{customer.foreman_name}}</p>
          <p><strong>Description: </strong></p>{{customer.description}}<br><br>
          <p><strong>Date of creation: </strong>{{customer.date_of_creation}}</p>
          <p><strong>Date of edition: </strong>{{customer.date_of_edition}}</p>
          <p><strong>Address: </strong>{{customer.address}}</p>
          <p><strong>Phone(s): </strong>{% for phone in phones %} {{ phone }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
          <p><strong>Email(s): </strong>{% for email in emails %} {{ email }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

    <hr>
    <h4>Projects:</h4>

    <div style="margin-left:20px;margin-top:20px">

    {% if not customer.project_set.all %}
        <p>No related projects</p>
    {% endif %}

    {% for project in customer.project_set.all %}
        <h5><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h5>
        <p>Project interactions:</p>
        {% for interaction in project.interaction_set.all %}
            <a href="{{ interaction.get_absolute_url }}">{{ interaction.date_of_edition }}</a><br>
            {% endfor %}
        <hr>
    {% endfor %}
  </div>

{% endblock %}