{% extends "base_generic.html" %}

{% block title %}Customer List{% endblock %}

{% block content %}
    <h1>Customer List</h1>

    <p>Sort by: <a href="?order=company_name">company name</a><br>
        <a href="?order=-company_name">reversed company name</a><br>
        <a href="?order=date_of_creation">date of creation</a><br>
        <a href="?order=-date_of_creation">reversed date of creation</a>
    </p>

    {% if customer_list %}
        <ul>
          {% for customer in customer_list %}
          <li>
              <a href="{{ customer.get_absolute_url }}">{{customer.company_name}}</a>
          </li>
          {% endfor %}
        </ul>
    {% else %}
        <p>There are no customers in the list.</p>
    {% endif %}

    <a href="{% url 'customer-create' %}">Add new customer</a>
    <br><br>

    {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            {% if 'order' in request.get_full_path %}
            <a href="{{ request.get_full_path }}&page=1">&laquo; first</a>
            {% else %}
            <a href="?page=1">&laquo; first</a>
            {% endif %}

            {% if 'order' in request.get_full_path %}
            <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">previous</a>
            {% else %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            {% if 'order' in request.get_full_path %}
            <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">next</a>
            {% else %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}

            {% if 'order' in request.get_full_path %}
            <a href="{{ request.get_full_path }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% else %}
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
    </div>
    {% endif %}

{% endblock %}